[submodule "WUInity/Assets/ThirdParty/elmfire"]
	path = WUInity/Assets/ThirdParty/elmfire
	url = https://github.com/nick-cloudfire/elmfire.git
	branch = ELMFIRE-WUINITY
[submodule "WUInity/Assets/ThirdParty/WildfireAV"]
	path = WUInity/Assets/ThirdParty/WildfireAV
	url = https://github.com/nick-cloudfire/WildfireAV.git
[submodule "WUInity/Assets/ThirdParty/Nelson-Dead-Fuel-Moisture"]
	path = WUInity/Assets/ThirdParty/Nelson-Dead-Fuel-Moisture
	url = https://github.com/nick-cloudfire/Nelson-Dead-Fuel-Moisture.git
[submodule "PREACT/ThirdParty/kPERIL"]
	path = PREACT/ThirdParty/kPERIL
	url = https://github.com/nick-cloudfire/kPERIL.git
[submodule "WUInity/Assets/ThirdParty/firedx"]
	path = WUInity/Assets/ThirdParty/firedx
	url = https://github.com/ma-th/firedx.git
	branch = main
